h3 {
  text-align: right;
  margin-right: 24%;
  font-stretch: extra-condensed;
  cursor: pointer;
}

.App {
  text-align: center;
  font-size: 22px;
  color: #212329;
  margin-left: 0%;
  margin-right: 0%;
  min-height: 1700px;
  background-color: white;
}

.nappi {
  margin: 10px;
  font-size: 18px;
  height: 55px;
  width: 150px;
  border-radius: 6px;
  border: none;
  box-shadow: 1px 1px 0px 2px rgba (0, 0, 0, 0.3);
  background: rgb(141, 217, 252);
  cursor: pointer;
}

.App-header {
  background-color: #4768a8;
  height: 15%;
  width: 100%;
  font-size: 25px;
  color: white;
}

.App-header h1 {
  margin-bottom: 0rem;
}

table {
  margin-left: 15%;
}

table, th, td {
  border-color: gray;
  border-style: solid;
  border-width: 1px;
  font-size: 18px;
}

.loginsListTable {
  width: 100%;
  margin-left: 2%;
}

.customerWindow {
  background-color: #c5c5c5;
  border-style: solid;
  width: 60%;
  margin: auto;
  margin-bottom: 50px;
  border-radius: 5px;
}

.kello {
  margin-left: 40%;
  margin-top: 10px;
}

.kello2 { 
  margin-top: 10px;
  margin-right: 10%;
}
.p2{
  text-align: center;
}

form {
  margin-left: 20%;
  border-style: solid;
  border-color: lightgray;
  padding-bottom: 8px;
  padding-top: 8px;
  width: 60%;
  background: rgb(71, 71, 71);
  border-radius: 7px;
}

input {
  height: 30px;
  width: 50%;
  margin-bottom: 6px;
}

.neg {
  color: red;
  background: lightgrey;
  font-size: 27px;
  border-style: solid;
  border-radius: 5px;
  width: 70%;
  padding: 10px;
  margin-bottom: 10px;
  margin-left: 15%;
}

.pos {
  color: rgb(87, 97, 102);
  background: lightgrey;
  font-size: 27px;
  border-style: solid;
  font-weight: bold;
  border-width: 2px;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 10%;
  width: 60%;
  margin-left: 20%;
}

.homepage-header-bg {
  padding: 8%, 8%, 8%, 8%;
  margin-top: 7%;
  font-size: 40px;
  width: 100%;
  background-color: red;
  color: white;
}

/* Login form */

.login-form {
width: 30%;
height: 75px;
padding-bottom: 0px;
padding-top: 0px;
text-align: left;
margin-left: 60%;
}

.login-input {
  font-size: 14px;
  height: 18px;
  margin-left: 3px;
}

 
.login-button {
  margin-left: 14px;
	background-color:#44c767;
	border-radius: 5px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:14px;
	padding: 2px 8px;
	text-decoration:none;
  }

  .cancel-button {
    margin-left: 12px;
    background-color: chocolate;
    border-radius: 5px;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:14px;
    padding: 2px 8px;
    text-decoration:none;
    }

    .käyttäjä-tieto {
      margin-left: 15%;
      color: yellow;
      min-width: 300px;
    }